[Unit]
Description=Pi TCP Server for Antenna_Aligner
After=network.target

[Service]
Type=simple
User=sd2-group2
WorkingDirectory=/home/sd2-group2/Documents/SD2_Codespace/Antenna_Aligner
ExecStart=/usr/bin/env python3 /home/sd2-group2/Documents/SD2_Codespace/Antenna_Aligner/scripts/pi_tcp_server.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
